.rdp-day {
  @apply h-12 w-12 text-base; /* Altura, Largura e Tamanho da Fonte */
}

/* Aumenta o tamanho da fonte do título (Mês e Ano) */
.rdp-caption_label {
  @apply text-lg font-medium;
}

/* Aumenta o tamanho dos botões de navegação (setas) */
.rdp-nav_button {
  @apply h-10 w-10;
}